aws-opentelemetry-distro
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-sdk-extension-aws
opentelemetry-instrumentation-sqlalchemy
python-json-logger
sqlalchemy
aiosqlite
pydantic-settings
fastapi
uvicorn[standard]
